*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
    color: #061A23;
    background-color: #FCFBF6;
}
.rio {
    border: solid 1px transparent;
    width: 1.3em;
    height: 0.3em;
    border-radius: 1em;
    margin: 0 0.2em;
    display: inline-block;
}
.rio:nth-child(1) {
    background-color: #B9CB65;
}

.rio:nth-child(2) {
    background-color: #73854A;
}

.rio:nth-child(3) {
    background-color: #06373A;
}

header {
    padding: 1.5em 1em 1.5em 1em;
}
header .container,
section .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}
header,header .container,header li a,header li,.head,header h1,header ul{
    background-color: #ECE9E0;
}
header nav li{
    display: inline;
}
header nav li a{
    text-decoration: none;
    font-weight: bold;
    margin-right: 1em;
    color: #06373A;
}
header h1{
    color: #06373A;
}

section{
    margin-top: 1em;
    padding: 0 2em;
}
section .container{
    align-items: flex-start;
}
.store-img{
    margin-right: 1em;
    border-radius: 0.5em;
    object-fit: cover;
    width: 50em;
    min-height: 35em;
    min-width: 10em;
}
p, section h2{
    margin-bottom: 1em;
}

.contact-met{
    display: flex;
}
.separador{
    margin: 0 12em;
}
form{
    display: block;
    width: 22em;
}
input,textarea,button{
    border: solid 1px #ECE9E0;
    font-size: 1em;
    display: block;
    width: 21em;
    padding: 1em;
    margin-bottom: 1em;
    border-radius: 0.5em;
}
textarea{
    resize: none;
    height: 10em;
}
button{
    background-color: #06373A;
    color: #ECE9E0;
    font-weight: bold;
    font-size: 1em;
    width: 20.8em;
    cursor: pointer;
}
button:hover{
    background-color: #ECE9E0;
    color: #06373A;
}
/* input:focus, textarea:focus{
    outline: #0c2461;
} */
.xoxolinks img{
    height: 1.5em;
}
.xoxolinks li{
    display: inline;
    margin-right: 1em;
}
.xoxolinks li a{
    text-decoration: none;
}
h3{
    margin-bottom: 1em;
}


footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    margin-top: 1em;
}
footer div {
    display: flex;
    margin: 0 1em;
}
footer p {
    margin: 0;
}
footer,
footer div,
footer p {
    background-color: #ECE9E0;
}
.rio2 {
    border: solid 1px transparent;
    width: 0.5em;
    height: 0.5em;
    border-radius: 1em;
    margin: 0 0.2em;
    display: inline-block;
}
.rio2:nth-child(1) {
    background-color: #B9CB65;
}

.rio2:nth-child(2) {
    background-color: #73854A;
}

.rio2:nth-child(3) {
    background-color: #06373A;
}